<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=shadow-multiple">
    <title>inicio</title>
    
</head>
<body> 
    
        <div class="w3-bar w3-black">
            <a class="w3-bar-item w3-button" onclick="openCity('London')" href="{{ url_for('menu.index') }}">Productos</a>
            
            <a class="w3-bar-item w3-button" onclick="openCity('London')" href="{{ url_for('contacto.index') }}">Contacto</a>
            
            <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Reseñas</button>
        </div>
    
    <style>
        .w3-bar a {
    color: #181bec; /* Azul claro */
}

        .mySlides {display:none;}

        .w3-lobster {font-family: "Lobster", Sans-serif;}
        </style>
        </head>
        
        <div class="w3-content w3-section" style="max-width:40%; margin: auto;">
            
            <img class="mySlides" src="static/imagenes/mm.jpg" style="width:100%">
            <img class="mySlides" src="static/imagenes/login.jpg" style="width:100%">
        </div>
        <center>
            <div class="w3-container w3-lobster">
            <p class="w3-xxxlarge font-effect-shadow-multiple">Bienvenido A Mi Cafetal !!</p>
        </div>
        </center>
        <script>
        var myIndex = 0;
        carousel();
        
        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}    
            x[myIndex-1].style.display = "block";  
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }
        </script>
    
            
    
    
</body>
</html>
