<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar Contacto</title>
</head>
<body>
    <h1>Agregar Contacto</h1>

    <form action="{{ url_for('contacto.add') }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nameContacto" required>
        
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="cellContacto" required>

        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" required>

        <button type="submit">Agregar Contacto</button>
    </form>
</body>
</html>